<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950508003260-8k0r01m37grcqgeka3rbnoj6ibllhmrq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950508003260-8k0r01m37grcqgeka3rbnoj6ibllhmrq</string>
	<key>API_KEY</key>
	<string>AIzaSyAe3z5t3C_BKPkuEbOdJyOjUneHG-5HBfc</string>
	<key>GCM_SENDER_ID</key>
	<string>950508003260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.faceAuth</string>
	<key>PROJECT_ID</key>
	<string>face-auth-c1a52</string>
	<key>STORAGE_BUCKET</key>
	<string>face-auth-c1a52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950508003260:ios:dd365b859409fa9d1555b9</string>
</dict>
</plist>